@media (prefers-color-scheme: dark) {
  /* Add your light mode styles here */
  body {
    --tw-bg-opacity: 1;
    background-color: rgb(17 23 34/var(--tw-bg-opacity));
  }
  .inpt{
    background-color: rgba(54, 53, 70, 0.166);
    backdrop-filter: blur(30px);
  }
}
@media (prefers-color-scheme: light) {
  /* Add your dark mode styles here */
  body {
    background-color: white;
  }
  .inpt{
    background-color: white
  }
}
body {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1440' height='1265' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cfilter x='-17.6%25' y='-34.2%25' width='135.1%25' height='168.4%25' filterUnits='objectBoundingBox' id='b'%3e%3cfeGaussianBlur stdDeviation='50' in='SourceGraphic'/%3e%3c/filter%3e%3cfilter x='-23.6%25' y='-187.5%25' width='147.2%25' height='475%25' filterUnits='objectBoundingBox' id='d'%3e%3cfeGaussianBlur stdDeviation='50' in='SourceGraphic'/%3e%3c/filter%3e%3cfilter x='-23.6%25' y='-187.5%25' width='147.2%25' height='475%25' filterUnits='objectBoundingBox' id='e'%3e%3cfeGaussianBlur stdDeviation='50' in='SourceGraphic'/%3e%3c/filter%3e%3cfilter x='-23.6%25' y='-187.5%25' width='147.2%25' height='475%25' filterUnits='objectBoundingBox' id='g'%3e%3cfeGaussianBlur stdDeviation='50' in='SourceGraphic'/%3e%3c/filter%3e%3clinearGradient x1='98.284%25' y1='37.276%25' x2='9.488%25' y2='37.276%25' id='a'%3e%3cstop stop-color='%236366F1' offset='0%25'/%3e%3cstop stop-color='%236366F1' stop-opacity='0' offset='100%25'/%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='37.276%25' x2='9.488%25' y2='37.276%25' id='c'%3e%3cstop stop-color='%2338BDF8' offset='0%25'/%3e%3cstop stop-color='%2338BDF8' stop-opacity='0' offset='100%25'/%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='37.276%25' x2='9.488%25' y2='37.276%25' id='f'%3e%3cstop stop-color='%236EE7B7' offset='0%25'/%3e%3cstop stop-color='%236EE7B7' stop-opacity='0' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cg fill='none' fill-rule='evenodd'%3e%3cpath fill='url(%23a)' filter='url(%23b)' d='M262.132 307.493 253.019 438.5l844.887-307.493L1107.019 0z' transform='translate(-.103 -152)'/%3e%3cpath fill='url(%23c)' filter='url(%23d)' transform='rotate(-20 296.964 770.578)' d='m446.117 806.285-35.584 80h599.418l35.582-80z'/%3e%3cpath fill='url(%23a)' filter='url(%23e)' transform='rotate(-20 29.964 1143.578)' d='m179.117 1179.285-35.584 80h599.418l35.582-80z'/%3e%3cpath fill='url(%23f)' filter='url(%23g)' transform='rotate(-20 156.964 105.578)' d='m306.117 141.285-35.584 80h599.418l35.582-80z'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color: azure;
}
@media screen and (min-width: 1185px){
.cards{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(30%);
}
}
.a-card{
  backdrop-filter: blur(62px);
  background-color: rgba(92, 92, 92, 0.153);     
}
.a-card:hover{
background-color: rgba(170, 170, 170, 0.153);
backdrop-filter: blur(62px);
}
.main{
background-color: rgba(76, 76, 76, 0.115);
backdrop-filter: blur(10px);
}
.mycontainer{
    background-color: rgba(54, 53, 70, 0.166);
    backdrop-filter: blur(30px);
}
.mycontainer1{
    background-color: rgba(64, 63, 70, 0.900);
    backdrop-filter: blur(30px);
    
}
.change-z-index{
  position: relative;
  z-index:-1;
}
.btn-color{
  background:  #616bff
}
.term-color{
  color: #616bff
}
#hostel-btn-submit {
    transition: opacity 0.3s ease; 
}

#myIcon {
    display: none; 
    transition: opacity 0.3s ease;
}
#submit-btn-found {
    transition: opacity 0.3s ease; 
}

#myIcon-2 {
    display: none; 
    transition: opacity 0.3s ease;
}